/* amatic-sc-regular - latin */
@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 400;
  src: local('Amatic SC Regular'), local('AmaticSC-Regular'),
       url('../fonts/amatic-sc-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/amatic-sc-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* amatic-sc-700 - latin */
@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 700;
  src: local('Amatic SC Bold'), local('AmaticSC-Bold'),
       url('../fonts/amatic-sc-v9-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/amatic-sc-v9-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-family: 'Amatic SC', sans-serif;
  font-size: 3em;
  display: block;
  text-align: center;
}

body {
  overflow: hidden;
  margin: 0;
  font-family: 'Amatic SC', sans-serif;
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

#room_full {
  margin-left: -8px;
  z-index: 1000;
  position: absolute;
  top: 200px;
  width: 100%;
  text-align: center;
  font-family: 'Amatic SC', sans-serif;
  color: white;
  background: #3D6F90;
  font-size: 180%;
  display: none;
}

#room_full a {
  font-size: 150%;
  color: white;
}

#room_full a:hover {
  font-weight: bold;
}

#linkity {
  margin-left: -8px;
  z-index: 1000;
  position: absolute;
  top: 200px;
  width: 100%;
  text-align: center;
  font-family: 'Amatic SC', sans-serif;
}

#linkity_container {
  background: white;
  display: inline-block;
  height: 92px;
  width: 140px;
  padding: 15px 30px;
  overflow: hidden;
  transition: width 0.5s;
}

#linkity_content div {
  font-size: 2em;
}

#linkity_content {
  width: 500px;
  margin: 0 auto;
  display: none;
}

#linkity_accept {
  width: 500px;
  margin: 0 auto;
  font-size: 200%;
  display: none;
}

#linkity_accept button {
  font-family: 'Amatic SC', sans-serif;
  font-weight: bold;
  font-size: 100%;
  background: #f9f9f9;
  border: 1px solid #777;
  border-radius: 5px;
  padding: 5px 20px;
  box-shadow: 2px 2px 4px #ddd;
  margin: 0 15px;
}

#why-nope {
  display: none;
  font-size: 70%;
}

#linkity_accept button#yep:active {
  background: #c3ff68;
}

#linkity_accept button#yep:hover {
  background: #fff;
  box-shadow: 5px 5px 4px #C3FF68;
}

#linkity_accept button#nope {
  padding: 0 5px;
  font-size: 75%;
}

#linkity_accept button#nope:active {
  background: #FE4365;
}

#linkity_accept button#nope:hover {
  background: #fff;
  box-shadow: 5px 5px 4px #FE4365;
}

@keyframes blinker {
  50% { opacity: 0.5; color: green; }
}

#linkity_loading,
#linkity_looking {
  font-size: 3em;
  line-height: 96px;
  animation: blinker 1s linear infinite;
}
#linkity_looking  {
  display: none;
}
#linkity_link {
  background: none;
  font-size: 1.1em;
  width: 400px;
  height: 26px;
  vertical-align: bottom
}

.btn {
    height: 32px;
    color: white;
    background: none;
    vertical-align: bottom;
}

.btn img {
  width: 24px;
  height: 24px;
}

.btn:hover {
  background: #f3f1f1;
}

.btn:active,
.btn:hover:active {
  background: #ccc;
}

.btn:focus {
  outline: none;
}

.bubb-box {
  width: 100%;
  position: relative;
}

.distance-bubb {
  background-image: url("../img/sprite.png");
  background-position: 590px -851px;
  background-size: 1060px;
  width: 104px;
  height: 92px;
  position: absolute;
  display: none;
}

.distance-bubb.bubb1 {

}

.distance-bubb.bubb2 {
  right: 0;
  transform: scaleX(-1);
}

.distance-bubb.bubb2 .counter {
  transform: scaleX(-1);
}

.distance-bubb .counter {
  text-align: center;
  font-size: 1.2em;
  line-height: 100px;
  font-family: 'Amatic SC', sans-serif;
}

@keyframes jump {
  10% {background-position: -210px 208px;}
  24% {background-position: -315px 208px;}
  40% {background-position: -420px 208px;}
  54% {background-position: -315px 208px; top: 0px;}
  70% {background-position: -210px 208px;}
  80% {background-position: -210px 208px; top: -30px;}
  82% {background-position: -210px 208px; top: 0px;}
  85% {background-position: -315px 208px;}
  97% {background-position: -315px 208px;}
  99% {background-position: -210px 208px;}
}

.jumpin {
  animation: jump .4s step-start 0s 1;
}

@keyframes jump-arm {
  24% {top: 3px;}
  40% {top: 8px;}
  54% {top: 3px;}
  80% {top: -30px;}
  82% {top: 0px;}
  85% {top: 4px;}
  97% {top: 4px;}
  99% {top: 0px;}
}

.jump-arm {
  animation: jump-arm .4s step-start 0s 1;
}

@keyframes blink { 50% { opacity: 0.0; } }
.connection-warning {
  height: 75px;
  width: 75px;
  position: absolute;
  top: 30px;
  left: 30px;
  display: none;
  background-image: url("../img/sprite.png");
  background-position: 712px 335px;
  animation: blink 1s step-start 0s infinite;
}

.prehug-warning {
  display: none;
}

@keyframes keyhintwalk {
  50% { background-position: -4px 243.5px; }
}

@keyframes keyhintarm {
  50% { background-position: -141.5px 243.5px; }
}

#key-hints {
  display: none;
  position: absolute;
  top: -97px;
  left: 100px;
  height: 111.5px;
  width: 137.5px;
  background-image: url("../img/sprite.png");
  background-size: 684px;
}

.key-hint-walk {
  background-position: -4px 131.5px;
  animation: keyhintwalk .8s step-start 0s infinite;
}

.key-hint-arm {
  background-position: -141.5px 131.5px;
  animation: keyhintarm .8s step-start 0s infinite;
}

@keyframes spacehintswitch { 50% { background-position: -6px -1px; } }
#space-hints {
  display: none;
  position: absolute;
  top: -60px;
  left: 100px;
  height: 75px;
  width: 155px;
  background-image: url("../img/sprite.png");
  background-size: 684px;
  background-position: -161px -1px;
  animation: spacehintswitch 0.6s step-start 0s infinite;
}

#p1 {
  left: 0px;
}

#p2 {
  left: 700px;
  display: none;
  transform: scale(-1, 1);
}

#p1-ghost {
  display: none;
}

#p2-ghost {
  left: 700px;
  transform: scale(-1, 1);
}

#p1-ghost .hug-body,
#p2-ghost .hug-body {
  width: 105px;
  height: 208px;
  background-image: url("../img/front-side-back-walk-turn-kiss-jump.png");
  background-position: -3045px 0;
}

.hug-box {
  opacity: .2;
  position: relative;
  margin: 0 auto;
  //margin-top: 200px;
  width: 700px;
}

.hug-man {
  transition: all 0.1s ease;
  position: absolute;
  top: 0;
}

.mini-dude {
  transform: scale(.25);
}

.mini-dude .hug-man {
  top: 24px;
}

.hug-body {
  width: 105px;
  height: 208px;
  z-index: -1;
  position: absolute;
  background-image: url("../img/front-side-back-walk-turn-kiss-jump.png");
  background-position: -315px 0px;
}

.hug-arm {
  transition: transform 0.1s ease;
  transform-origin: 50px 78px;
  position: absolute;
  background-image: url("../img/front-side-back-walk-turn-kiss-jump.png");
  background-position: -1260px 0;
  width: 105px;
  height: 208px;
  z-index: 1;
}

/*.hug-smile {
  width: 90px;
  height: 90px;
  background-image: url("../img/smile-sprite-b.png");
  background-position: 0px;
  position: absolute;
  left: 20px;
}*/

.heart {
  width: 44px;
  height: 37px;
  background-image: url("../img/sprite.png");
  background-position: 752px 1097px;
  position: absolute;
  top: 77px;
  left: 32px;
  z-index: 100;
  transform: scale(0);
}

#flerr {
  position: absolute;
  height: 40px;
  width: 100%;
  top: 174px;
  background-image: url("../img/sprite.png");
  background-position: 0px 43px;
  background-size: 707px 700px;
  opacity: 0.5;
}

#error {
  color: red;
  display: none;
}

#hater {
  color: red;
  display: none;
}

.orb-box {
  width: 800px;
  height: 800px;
  bottom: -490px;
  left: -35px;
  position: absolute;
  z-index: -1000;
}

.hug-orb {
  transform: scale(0);
  width: 800px;
  height: 800px;
  bottom: 0;
  position: absolute;
  z-index: -1000;
}

.button-box {
  //position: absolute;
  margin-top: 240px;
  bottom: 15px;
  display: none;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 1000;
}

.move-button {
  display: inline-block;
  border: none;
  background-color: transparent;
  background-image: url("../img/keys.png");
  width: 100px;
  height: 89px;
}

.move-button:focus {
  outline: none;
}

.move-left {
  background-position: 0px -90px;
}

.move-button.move-left:active {
  background-position: 0px 0px;
}

.move-right {
  background-position: -100px -90px;
}

.move-button.move-right:active {
  background-position: -100px 0px;
}

.vertical-butts {
  display: flex;
  flex-direction: column;
  padding-right: 15px;
}

.horizontal-butts {
  display: flex;
  padding-left: 15px;
}


.move-up {
  background-position: -300px -90px;
}

.move-button.move-up:active {
  background-position: -300px 0px;
}

.move-down {
  background-position: -200px -90px;
}

.move-button.move-down:active {
  background-position: -200px 0px;
}

.space-button {
  width: 257px;
  background-position: -401px -90px;
}

.space-button:active {
  background-position: -401px 0px;
}

/*.replay {
  background-image: url("../img/replay.png");
  width: 100px;
  height: 81px;
  margin-top: -50px;
  background-position: 0px;
  background-size: 200px;
  position: absolute;
}*/

.replay-box {
  padding-left: 50%;
  margin-left: -50px;
}

.replay:hover {
  background-position: -100px;
  cursor: pointer;
}

/*.five {
  background-image: url("../img/five.png");
  width: 50px;
  height: 45px;
  position: absolute;
  display: none;
  top: -25px;
}*/

.choice-box {
  background-color: white;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 10000;
}

.choice-box .room-butt {
  border: solid;
  display: inline-block;
  padding: 10px;
  border-radius: 4px;
  box-shadow: grey 0px 0px 9px 0px;
}

@media only screen
   and (max-device-width : 480px) {
  .button-box {
    //display: block;
  }
}

#to-entry {
  border: none;
  margin-left: 12px;
}

.text-butt {
  font-family: 'Amatic SC', sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  background: none;
  border: none;
  text-decoration: none;
  color: black;
}

.email-butt {
  float: right;
  margin-right: 12px;
  color: #adadad;
  position: absolute;
  bottom: 8px;
  left: 0;
  width: 100%;
  text-align: center;
}

.email-butt a {
  border: none;
  text-decoration: none;
  color: #adadad;
  font-size: smaller;
}

.email-butt a:hover,
#to-entry:hover {
  border-bottom: 2px solid;
  border-image: url("../img/border-squared.png") 9 round;
  color: #848484;
}

.email-butt a:active, .email-butt a:visited:active, .email-butt a:visited:hover:active,
#to-entry:active, #to-entry:visited:active {
  color: #5abae2;
  border-image: url("../img/border-squared-blue.png") 9 round;
}

.email-butt a:visited,
#to-entry:visited {
  color: #adadad;
}

.email-butt a:visited:hover,
#to-entry:visited:hover {
  color: #848484;
}


.dotted-border {
  border: 16px solid transparent;
  -moz-border-image: url("../img/dotted-two.png") 45 48 44 42 round;
  -webkit-border-image: url("../img/dotted-two.png") 45 48 44 42 round;
  -o-border-image: url("../img/dotted-two.png") 45 48 44 42 round;
  border-image: url("../img/dotted-two.png") 45 48 44 42 round;
}



.non-dotted {
  border: 16px solid transparent;
  -moz-border-image: url("../img/non-dotted.png") 45 48 44 42 round;
  -webkit-border-image: url("../img/non-dotted.png") 45 48 44 42 round;
  -o-border-image: url("../img/non-dotted.png") 45 48 44 42 round;
  border-image: url("../img/non-dotted.png") 45 48 44 42 round;
}


.border-squared {
  border: 2px solid grey;
  -moz-border-image: url("../img/border-squared-grey.png") 45 48 44 42 round;
  -webkit-border-image: url("../img/border-squared-grey.png") 45 48 44 42 round;
  -o-border-image: url("../img/border-squared-grey.png") 45 48 44 42 round;
  border-image: url("../img/border-squared-grey.png") 9 round;
}

@media only screen
  and (max-device-width: 600px)
  and (orientation: landscape) {
   h1 {
     margin-top: 0;
   }

   .hug-box {
     margin-top: -30px;
     transform: scale(0.85);
   }
   .portrait-msg {
     display: block;
   }
 }

 @media only screen
   and (max-device-width: 770px)
   and (orientation: landscape) {
     .email-butt {
       display: none;
     }

     h1 {
       margin-top: 0;
     }
    .hug-box {
      margin-top: -10px;
    }
  }
