<!doctype html>
<html>
  <head>
    <title>Hergs fer everywern</title>
    <meta name="description" content="Your frand is waiting for a herg, better get in there..." />
    <meta property="og:title" content="Frand Space" />
    <meta property="og:description" content="Your frand is waiting for a herg, better get in there..." />
    <meta property="og:image" content="https://frands.space/img/frand-preview.png" />
    <meta name="viewport" content="user-scalable=no" />
    <link rel="shortcut icon" href="https://frands.space/img/favicon.ico" />
  </head>
  <body>
    <div class="container">
      <div class="header" unselectable="on" class="unselectable">
        <div class="connection-warning"></div>
        <a href="/" id="to-entry" class="text-butt">generate new hug room</a>
        <span class="text-butt email-butt"><a href="">say hi to us</a></span>
        <h1>feel the feels</h1>
      </div>
      <div class="bubb-box" unselectable="on" class="unselectable">
        <div id="bubb1" class="distance-bubb bubb1">
          <div class="mini-dude">
            <div class="hug-man">
              <div class="hug-body"></div>
              <div class="hug-arm"></div>
            </div>
          </div>
          <p class="counter"></p>
        </div>
        <div  id="bubb2" class="distance-bubb bubb2">
          <div class="mini-dude">
            <div class="hug-man">
              <div class="hug-body"></div>
              <div class="hug-arm"></div>
            </div>
          </div>
          <p class="counter"></p>
        </div>
      </div>
      <div class="hug-box" unselectable="on" class="unselectable">
        <div id="flerr"></div>
        <div class="prehug-warning">Hold your hug horses! Nobody's here yet!</div>
        <div class="orb-box">
          <div class="hug-orb">
            <video autoplay="autoplay" width="800" height="800" loop="loop">
              <source src="img/love_cirque.webm" type="video/webm" />
              <source src="img/love_cirque.mp4" type="video/mp4" />
              ORBBBBBBBB
              <!--img src="img/love_cirque.gif" /-->
            </video>
          </div>
        </div>
        <div id="key-hints" class="key-hint-walk"></div>
        <div id="space-hints"></div>
        <div id="p1-ghost" class="hug-man ghost-man">
          <div class="hug-body"></div>
        </div>
        <div id="p1" class="hug-man solid-man">
          <div class="hug-body"></div>
          <div class="hug-arm"></div>
          <div class="hug-arm-wiggly"></div>
          <div class="heart"></div>
        </div>
        <div id="p2-ghost" class="hug-man ghost-man">
          <div class="hug-body"></div>
        </div>
        <div id="p2" class="hug-man solid-man">
          <div class="hug-body"></div>
          <div class="hug-arm"></div>
          <div class="hug-arm-wiggly"></div>
          <div class="heart"></div>
        </div>
        <div class="five"></div>
        <p id="error">you got hugged out.</p>
      </div>
      <div id="linkity">
        <div id="linkity_container" class="dotted-border">
          <div id="linkity_content">
            <div>Send this link to a huggable frand:</div>
            <input id="linkity_link" class="border-squared" value="asdf">
            <button class="btn border-squared" data-clipboard-target="#linkity_link">
              <img src="img/kermpclip.png" alt="Copy to clipboard">
            </button>
            <div style="font-size: smaller; padding-top: 2px; padding-bottom: 2px;">(or an unhuggable non-frand you cruella deville you)</div>
          </div>
          <div id="linkity_accept">
            <div>Ready to hug?</div>
            <button id="yep">yep</button>
            <button id="nope">nope</button>
            <p id="why-nope">the nope doesn't even do anything why don't you want a hug??</p>
          </div>
          <div id="linkity_loading" unselectable="on" class="unselectable">
            loading
          </div>
          <div id="linkity_looking" unselectable="on" class="unselectable">
            looking
          </div>
        </div>
      </div>
      <div id="room_full" unselectable="on" class="unselectable">
        <p>
        Ohhhhkay well, this hug room is full already. <br />
          Don't worry, just start a new one!
        </p>
        <p><a href="/">Get started</a></p>
      </div>

      <div class="button-box" unselectable="on" class="unselectable">
        <div class="horizontal-butts">
          <button class="move-button move-left" data-keycode="37"></button>
          <button class="move-button move-right" data-keycode="39"></button>
        </div>
        <button class="move-button space-button" data-keycode="32"></button>
        <div class="vertical-butts">
          <button class="move-button move-up" data-keycode="38"></button>
          <button class="move-button move-down" data-keycode="40"></button>
        </div>
      </div>
    <!--<div class="portrait-msg">rotate your phonnnneee! k thanks.</di>-->
    </div>
  </body>
</html>
